body {
    background-color: rgb(67, 141, 83);
    margin: 0px;
    overflow: hidden;
    // default width and height is window-size
    // the only child is container-for-threejs
    // hence container-for-threejs will be equal to (window.innerWidth, window.innerHeight)
}

#container-for-threejs {
    z-index: 0;
    // 100% of the viewport ('body')
    width: 100vw; // viewport width
    height: 100vh; // viewport height
}