body {
    background-color: rgb(67, 141, 83);
    /* Costumize WxH in canvas label, if you do it here it will be out of place */
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#container-for-threejs {
    z-index: 0;
}